.c-message {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    @include sp {
        display: inherit;
        margin-bottom: 14px;
    }

    &__text {
        max-width: 630px;
        width: 100%;
        margin-right: 50px;
        letter-spacing: 0.02em;
        @include sp {
            max-width: 100%;
            margin-right: 0;
        }

        &1 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.9;
            margin-bottom: 23px;
            @include sp {
                font-size: 2rem;
                letter-spacing: 0.05em;
                margin-bottom: 21px;
            }
            &1{
                @include sp {
                    text-indent: -13px;
                }
            }
        }

        &2 {
            font-weight: 300;
            line-height: 1.75;
            margin-bottom: 28px;
            @include sp {
                font-weight: 300;
                line-height: 1.57;
                margin-bottom: 32px;
                font-size: 1.4rem;
                letter-spacing: 0.02em;
            }
        }

        &3 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.9;
            letter-spacing: 0.02em;
            margin-bottom: 17px;
            @include sp {
                font-size: 1.6rem;
                line-height: 1.7;
                letter-spacing: 0.01em;
                margin-bottom: 10px;
            }
        }
    }

    &__img {
        max-width: 279px;
        width: 100%;
        padding-top: 6px;
        @include sp {
            max-width: 71.7%;
            margin: 0 auto;
            padding-top: 4px;
        }
        img {
            @include sp {
                width: 240px;
                margin: 0 auto;
            }
        }
    }

    &__subtext {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.1;
        margin: 0 0 40px;
        letter-spacing: 0.025em;
        @include sp {
            display: none;
        }

        &1 {
            font-size: 1.4rem;
            font-weight: 500;
            text-align: right;
            line-height: 1.78;
            padding-right: 15px;
            margin-bottom: 27px;
            letter-spacing: 0.02em;
            @include sp {
                margin-bottom: 29px;
            }
        }
    }
}
